@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #C7B9AB;
  --grey: #C4C4C4;
  --medium-grey: #262626;
  --black: #000000;
  --cyan: #1DC0D6;
  --yellow: #eeec90;
}

body {

    background: linear-gradient(45deg, var(--cyan), var(--white));
    height:100vh;
}

.container {
    position:absolute;
    display:inline-block;
    border: 4px solid var(--medium-grey);
    border-radius:5px;
    left:50%;
    top:50%;
    max-width:400px;
}