@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-size:16px;
}

:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #C7B9AB;
  --grey: #456937;
  --medium-grey: #262626;
  --black: rgba(0,0,0,0.8);
  --cyan: #00cfb3;
  --yellow: #dad600;
  --blue: dodgerblue;
  --light-blue: deepskyblue;
}

body {
    background-image: linear-gradient(to right, rgb(0, 162, 255),rgb(7, 7, 97));
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    color:var(--white);

}

nav{
    align-self:flex-start;
    width:100vw;
    text-align:center;
    background:var(--light-blue);
    padding-bottom:15px;
    text-transform:uppercase;
}

u {
    color:var(--grey);
}

a {
    position:absolute;
    bottom:0;
    right:0;
    background:var(--blue);
    border-radius:5px;
    padding:15px;
    margin:15px;
}